
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans"sans-serif;
  }/* hrader tope bar css */
.tope-bar {
    background-color: #a50329;
    padding: 10px 0px 10px 10px;
}
ul.tope-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.tope-bar-li {
    float: left;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    color: #ffffff;
}
img#tope-bar-li-img {
    width: 36px;
    border: solid 1px #fff;
    padding: 4px 4px 4px 4px;
    border-radius: 30px 30px 30px 30px;
    margin: 0px 10px 0px 0px;
}
/* hrader nave menu css */
/* hrader nave menu colum -1 css */
.nave-bar-menu-logo-column {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
}
/* nave menu culoum */
.column-nave-bar-menu-nave-column {
    float: left;
    width: 60%;
    padding: 10px;
}
ul.nave-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li.nave-li {
    float: left;
}
a.nave4646 {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
a.nave4646:hover {
    color: #A50329;
}
.nave-menu {
    margin: 24px 0px 0px 140px;
}
/* nave Appointment Now button */
.column-nave-bar-menu-button {
    float: left;
    width: 20%;
    padding: 10px;
}
.Appointment-btn53553 {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 16px 25px 16px 25px;
    border: none;
    background: #A50329;
    border-radius: 60px 60px 60px 60px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
   a.Appointment-btn53553:hover {
    color: #fff;
}